{% load static %}
<!DOCTYPE html>
<html data-theme="night">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>CSI BU {% block head_title %}{% endblock %}</title>
	<meta name="description" content="Application forms for CSI BU" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="" />
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
	<script src="https://cdn.tailwindcss.com"></script>
	<link href="https://cdn.jsdelivr.net/npm/daisyui@3.3.1/dist/full.css" rel="stylesheet" type="text/css" />
	<script src="https://unpkg.com/htmx.org@1.9.3"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<!-- XSAlert CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/frankeno/xsalert@main/src/themes/light-theme.css" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
		rel="stylesheet">
	<style>
		body {
			/* background-color: black; */
			background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.05'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
		}
	</style>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-ET9CW39LC8"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-ET9CW39LC8');
	</script>
	{% block script %} {% endblock %}
</head>

<body class="font-['Poppins'] min-h-screen">
	<script src="" async defer></script>
	<div class="navbar py-4 sm:px-32 sm:py-10 flex-col sm:flex-row">
		<div class="flex-1 mt-6 mb-10 sm:mt-0 sm:mb-0">
			<a class="px-4 font-bold text-primary btn-ghost normal-case text-xl sm:text-2xl"
				href="{% url 'home' %}">
				<div class="flex-col flex sm:flex-row gap-x-4 items-center">
					<img src="{% static "csilogo.png" %}" class="h-16" alt="CSI Logo">
					<p class="py-2 sm:py-0">Computer Society of India</p>
				</div>
			</a>
		</div>
		<div class="flex-none">
			{% if request.user.is_staff %}
			<a href="{% url 'all_forms' %}" class="mr-3 rounded-none px-5 py-3 border-indigo-500 border hover:bg-indigo-500 font-bold uppercase text-indigo-500 hover:text-black">Dashboard</a>
			{% endif %} {% if request.user.is_authenticated %}
			<a href="{% url 'account_logout' %}" class="rounded-none px-5 py-3 border border-indigo-500 hover:bg-indigo-500 font-bold uppercase text-indigo-500 hover:text-black">Logout</a>
			{% else %}
			<a href="{% url 'account_login' %}" class="mr-3 rounded-none px-5 py-3 border-indigo-500 border hover:bg-indigo-500 font-bold uppercase text-indigo-500 hover:text-black">Login</a>
			<a href="{% url 'account_signup' %}" class="mr-3 rounded-none px-5 py-3 border-indigo-500 border hover:bg-indigo-500 font-bold uppercase text-indigo-500 hover:text-black">Sign Up</a>
			{% endif %}
		</div>
	</div>
	<div class="flex justify-center">
		<div class="w-11/12 md:w-8/12 py-5 px-[min(2vw,2.5rem)] z-10">{% block main %} {% endblock %}</div>
	</div>
</body>

</html>