{% extends 'base.html' %} {% block script %}
<!-- Add this script tag in your HTML to include the JavaScript code -->
<script>
	function getSocial() {
		var fdata = null;
		fetch("{% url 'user_social' %}")
			.then((response) => response.json())
			.then((data) => {
				console.log(data);
				social_connections_div = document.getElementById("social_connection");
				github = data.github_connection;
				linkedin = data.linkedin_connection;
				if (github) {
					git_checkbox = document.getElementById("github_checkbox");
					git_checkbox.checked = true;
					document.getElementById("not_github").classList.add("hidden");
				} else {
					github_checkbox = document.getElementById("github_checkbox");
					github_checkbox.checked = false;
				}
			});
		return fdata;
	}

	function submitForm() {
		const formElement = document.getElementById("renderedForm");
		const formData = new FormData(formElement);
		let button_text = document.getElementById("submit_form_txt");
		button_text.classList.add("loading");
		button_text.classList.add("loading-spinner");
		const success_modal = document.getElementById("success_modal");
		getSocial()
		fetch("{% url 'form_view' form.id %}", {
			method: "POST",
			body: formData
		})
			.then((response) => response.json())
			.then((data) => {
				console.log(data);
				if (data.success) {
					success_modal.showModal();
				} else {
					if (data.social_connection_error){
						s_error_modal.showModal();
					}
					else{
						error_modal.showModal();
					}
				}
				button_text.classList.remove("loading");
				button_text.classList.remove("loading-spinner");
			})
			.catch((error) => {
				console.error("Error:", error);
				button_text.classList.remove("loading");
				button_text.classList.remove("loading-spinner");
			});

	}

	function github_popup(){
		let connection_win = window.open("/accounts/github/login/?process=connect&next=/close/", "popup", "width=600,height=600,scrollbars=notoolbar=no,menubar=no,location=no,directories=no,status=no");
	}
	getSocial()
</script>
{% endblock %} {% block main %}
<h1 class="text-[min(7vw,2.25rem)] font-bold">{{ form.name }}</h1>
<p class="text-[min(4vw,1.5rem)]">{{ form.description }}</p>
<form id="renderedForm" method="post" action="#">
	{% csrf_token %}
	<div id="fields" class="form-control">
		{% for i in form.fields.all %}
		<div class="mt-4">
			<label for="{{ i }}" class="label justify-start text-xl"
				>{{ i }}{% if i.is_required %}<span class="text-red-500 mx-5">*</span>{% endif %}</label
			>
			{% if i.description %}
			<p class="help-text mb-2">{{ i.description }}</p>
			{% endif %} {% if i.field_type == 'text' %}
			<input
				type="text"
				class="input input-accent rounded w-full"
				id="{{ i }}"
				name="{{ i }}"
				placeholder="{{ i.placeholder }}"
				{%
				if
				i.is_required
				%}required{%
				endif
				%} />
			{% elif i.field_type == 'textarea' %}
			<textarea
				id="{{ i }}"
				class="textarea textarea-accent rounded w-full"
				name="{{ i }}"
				placeholder="{{ i.placeholder }}"
				{%
				if
				i.is_required
				%}required{%
				endif
				%}></textarea>
			{% elif i.field_type == 'select' %}
			<select
				id="{{ i }}"
				name="{{ i }}"
				class="select select-accent rounded select-sm"
				{%
				if
				i.is_required
				%}required{%
				endif
				%}>
				{% for j in i.choices.all %}
				<option value="{{ j }}">{{ j }}</option>
				{% endfor %}
			</select>
			{% elif i.field_type == 'radio' %}
			<div>
				{% for j in i.choices.all %}
				<label class="label cursor-pointer flex justify-start gap-4">
					<input class="radio radio-accent" type="radio" name="{{ i }}" id="{{ j }}" value="{{ j }}" />
					<span class="label-text">{{ j }}</span>
				</label>
				{% endfor %}
			</div>
			{% elif i.field_type == 'checkbox' %} {% for j in i.choices.all %}
			<label class="flex gap-4 cursor-pointer label w-full"
				>{{ j }}
				<input
					type="checkbox"
					class="checkbox rounded checkbox-accent"
					name="{{ i }}"
					id="{{ j }}"
					value="{{ j }}" />
			</label>
			{% endfor %} {% elif i.field_type == 'email' %}
			<input
				type="email"
				class="input rounded input-accent w-full"
				id="{{ i }}"
				name="{{ i }}"
				placeholder="{{ i.placeholder }}"
				{%
				if
				i.is_required
				%}required{%
				endif
				%} />
			{% elif i.field_type == 'password' %}
			<input
				type="password"
				id="{{ i }}"
				name="{{ i }}"
				placeholder="{{ i.placeholder }}"
				{%
				if
				i.is_required
				%}required{%
				endif
				%} />
			{% elif i.field_type == 'number' %}
			<input
				type="number"
				class="input input-accent rounded w-full"
				id="{{ i }}"
				name="{{ i }}"
				placeholder="{{ i.placeholder }}"
				{%
				if
				i.is_required
				%}required{%
				endif
				%} />
			{% elif i.field_type == 'url' %}
			<input
				type="url"
				class="input input-accent rounded w-full"
				id="{{ i }}"
				name="{{ i }}"
				placeholder="{{ i.placeholder }}"
				{%
				if
				i.is_required
				%}required{%
				endif
				%} />
			{% endif %}
		</div>
		{% endfor %}
	</div>
	<div>
		{% if form.github_required %}
		<p class="text-3xl underline mt-4">Social Connections</p>
		<div class="flex justify-between flex-col sm:flex-row">
			<div>
				{% if form.github_required %}
				<label class="label w-56">
					<span class="label-text">GitHub Connected: </span>
					<input
						type="checkbox"
						class="checkbox"
						name="github"
						id="github_checkbox"
						value="github"
						required
						{%
						if
						user_github
						%}checked{%
						endif
						%}
						disabled />
				</label>
				{% endif %} 
			</div>
			<div>

			</div>
		</div>
		{% if not user_github %}
		<div id="not_github">
			{% comment %} <a href="/accounts/github/login/?process=connect" class="underline italic" target="_blank"> {% endcomment %}
				<div class="btn btn-sm btn-outline btn-accent" onclick="github_popup()">Connect GitHub</div>
			{% comment %} </a> {% endcomment %}
			<br/>
			<div class="flex gap-2">
				<p class="mt-3">Already Connected?</p>
				<button type="button" class="btn btn-sm btn-outline my-2" onclick="getSocial()">
					Check again
				</button>
			</div>
			<p class="mt-2">Please connect your Github as its required in this form</p>
			
		</div>
		{% else %}
		<p>You have already connected your GitHub</p>
		{% endif %} {% endif %}
	</div>

	<div>
		<button type="button" class="btn btn-accent mt-6 rounded" id="submit_form" onclick="submitForm()">
			<span id="submit_form_txt">Submit Form</span>
		</button>
	</div>
</form>

{% comment %} Form Response Modals {% endcomment %}
<dialog id="success_modal" class="modal">
  <form method="dialog" class="modal-box">
    <h3 class="font-bold text-lg">Form Submitted!</h3>
	<p>Thank you for submitting the form. Your application will soon be reviewed by the team.</p>
    <div class="modal-action">
      <button class="btn btn-accent btn-outline" onclick="window.location.href = '{% url 'home' %}'">
		Back to Homepage
	  </button>
    </div>
  </form>
</dialog>

<dialog id="error_modal" class="modal">
  <form method="dialog" class="modal-box">
    <h3 class="font-bold text-lg">Form Submission Failed!</h3>
	<p>There was an error while submitting the form. Please check if you have filled all the required fields.</p>
    <div class="modal-action">
      <button class="btn btn-accent btn-error btn-outline" onclick="error_modal.close()">
		Close
	  </button>
    </div>
  </form>
</dialog>


<dialog id="s_error_modal" class="modal">
  <form method="dialog" class="modal-box">
    <h3 class="font-bold text-lg">Form Submission Failed!</h3>
	<p>GitHub oauth required. Please connect your GitHub account.</p>
    <div class="modal-action">
      <button class="btn btn-accent btn-error btn-outline" onclick="s_error_modal.close()">
		Close
	  </button>
    </div>
  </form>
</dialog>

{% endblock %}
