{% extends "base.html" %} {% block main %}
<div>
  <div class="flex-col flex items-center">
  <h1 class="text-3xl sm:text-5xl text-secondary font-bold mb-10">All open forms</h1>
  {% if not all_forms %}
  <p class="text-2xl py-5 text-content text-center">There are currently no open forms.</p>
  </div>
  {% else %}
  {% for form in all_forms %}
  <div class="my-5 p-7 rounded-none flex justify-between bg-[#0b101d] z-50 shadow-2xl w-full sm:flex-row sm:flex flex-col items-center">
    <div class="flex flex-col items-center sm:items-start">
      <h2 class="text-[min(7vw,2.25rem)] text-primary font-semibold text-content sm:text-[min(5.5vw,1.875rem)]">{{ form.name }}</h2>
      <p class="text-base text-center sm:text-start">{{ form.description }}</p>
    </div>
    {% if request.user.is_authenticated %}
      {% if form.applied %}
      <div class="flex flex-col sm:place-items-end items-center">
        <button class="btn btn-accent rounded-none my-4 sm:my-0" disabled>Already Applied</button>
        <p class="mt-2 capitalize text-accent">Application Status: {{ form.entry.status }}</p>
      </div>
      {% else %}
      <a href="{% url 'form_view' form_id=form.id %}"><button class="btn btn-secondary rounded-none my-4 sm:my-0">Apply</button></a>
      {% endif %}
    {% else %}
    <a href="{% url 'form_view' form_id=form.id %}"><button class="btn btn-secondary rounded-none my-4 sm:my-0">Apply</button></a>
    {% endif %}
  </div>
  {% endfor %}
  {% endif %}
</div>
{% endblock main %}