<!DOCTYPE html>
<html lang="en" style="margin: 0; padding: 0; border: 0">
  <head style="margin: 0; padding: 0; border: 0">
    <meta charset="UTF-8" style="margin: 0; padding: 0; border: 0" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
      style="margin: 0; padding: 0; border: 0"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
      style="margin: 0; padding: 0; border: 0"
    />
    <title style="margin: 0; padding: 0; border: 0">CSI BU Application Update</title>
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
      style="margin: 0; padding: 0; border: 0"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
      style="margin: 0; padding: 0; border: 0"
    />
  </head>

  <body
    style="
      margin: 0 auto;
      padding: 3%;
      border: 0;
      font-family: 'Roboto', sans-serif;
      background-color: #d8dada;
      font-size: 19px;
      max-width: 800px;
    "
  >
    <div
      id="wrapper"
      style="margin: 0; padding: 0; border: 0; background-color: #f0f6fb"
    >
      <h1 style="margin: 3%; padding: 3%; border: 0; text-align: center">
          Invitation for an Interview with the Computer Society of India
      </h1>
      <header style="margin: 0; padding: 0; border: 0; width: 98%">
        <div
          id="logo"
          style="
            margin: 3%;
            padding: 0;
            border: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
          "
        >
          <img src="https://www.csi-bu.live/logo.png" style="width: 100px; height: 100px; margin: 0; padding: 0; border: 0" />
        </div>
      </header>
      <div class="one-col" style="margin: 0; padding: 0; border: 0">
        <p style="margin: 3%; padding: 0; border: 0; text-align: left">
          Dear Applicant,
        </p>
        <p style="margin: 3%; padding: 0; border: 0; text-align: left">
          I trust this message finds you well. I am pleased to inform you that your application for the {{ dept_name }} department at the Computer Society of India (CSI) has been carefully reviewed, and we are impressed with your qualifications and experience.<br><br>
          We would like to invite you to the next stage of our selection process, which is an interview. This interview will provide us with an opportunity to get to know you better and assess your compatibility with our team and the {{ dept_name }} department. <br><br>
          The interview details, including the date, time, and format (whether it will be conducted in person, via video call, or by phone), will be communicated to you in a separate email. Please ensure that you monitor your email inbox regularly, including your spam folder, so that you do not miss this important communication. We will also include any additional instructions or requirements for the interview.<br><br>
          Once again, congratulations on being selected for an interview with the Computer Society of India. We look forward to the opportunity to speak with you and assess how your skills and experiences align with our organization's goals.<br><br>
        </p>

        <p style="margin: 3%; padding: 0; border: 0; text-align: left">
Thank you for your interest in joining CSI, and we will be in touch soon with the interview details.

        </p>

        <p
          style="
            margin: 3%;
            padding: 0;
            padding-bottom: 3%;
            border: 0;
            text-align: left;
          "
        >
          Best Regards,

          <br style="margin: 0; padding: 0; border: 0" />
          <a
            style="
              text-decoration: none;
              margin: 0;
              padding: 0;
              border: 0;
              color: #133387;
            "
            href="https://csi-bu.live"
            >Computer Society of India, Bennett University</a
          ><br>
          hi@csi-bu.live
        </p>
      </div>
    </div>
  </body>
</html>